body {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#con {
  color: yellowgreen;
}
.digit {
  font-size: 50px;
  font-weight: bold;
}
.text {
  font-size: 40px;
  font-weight: bold;
}
#btn-container {
  text-align: center;
  margin-top: 20px;
}
.btn {
  padding: 7px 25px;
  font-size: 15px;
  margin: 0px 10px;
  color: red;
  cursor: pointer;
}
#start {
  background-color:whitesmoke;
}
#stop {
  background-color:white;
}
#reset {
  background-color: whitesmoke;
}
